@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.overview__button, .command__button {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.5rem;
  padding: 12px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
  transition: all 200ms;
}
.overview__button:hover, .command__button:hover {
  transform: scale(1.04);
  background-image: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 0 0.6em 0.6em 0 #d9d9d9;
}
.overview__button:active, .command__button:active {
  transform: scale(1);
}

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 0.9rem;
}

.function-item {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #fafafa;
  margin: 20px 10px;
  padding: 20px;
  padding-left: 0;
  border-radius: 1.4em;
  display: grid;
  grid-template-columns: 35px 35px 1fr;
  justify-items: start;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.function-item:hover {
  background-color: #f2eafb;
}
.function-item:hover .function-item__icon {
  color: #9356DC;
}
.function-item__label {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 2px 7px;
  position: relative;
  right: 10px;
}
.function-item__icon {
  color: gray;
}

.card {
  margin: 20px 0;
  background-color: white;
  border-radius: 0.7em;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.card__body {
  position: relative;
  display: block;
}
.card__img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}
.card__badge-new {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 0.2em;
  padding: 7px 12px;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}
.card__caption {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "captionTitle captionFav" "captionTxt captionFav";
  justify-items: stretch;
  align-items: center;
  padding: 12px;
}
.card__caption h3 {
  grid-area: captionTitle;
  margin: 0;
}
.card__caption p {
  grid-area: captionTxt;
  margin: 0;
}
.card__heart {
  grid-area: captionFav;
  cursor: pointer;
  position: relative;
  width: 20px;
  font-size: 1.4em;
}
.card__heart--regular {
  color: #b3b3b3;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.card__heart--solid {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 1px;
  height: 100%;
  width: 100%;
  color: #FF79DA;
  opacity: 0;
  transform: scale(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}
.card__heart:hover > .card__heart--solid {
  opacity: 1;
  transform: scale(1);
}
.card__heart:hover > .card__heart--regular {
  opacity: 0;
}

.menu-item {
  background-color: white;
  border-radius: 0.8em;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 4fr -webkit-min-content 60px;
  grid-template-columns: 4fr min-content 60px;
  grid-template-areas: "itemTitle . itemValid" "itemDescription itemPrice itemValid";
  align-items: stretch;
  place-content: center;
  cursor: pointer;
  max-width: 400px;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.menu-item__title {
  grid-area: itemTitle;
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 12px;
  padding-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__description {
  grid-area: itemDescription;
  margin: 0;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__price {
  grid-area: itemPrice;
  margin: 0;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 7px;
  transition: transform 1000ms cubic-bezier(0.3, -0.2, 0.33, 1.1);
  transform: translateX(40px);
  align-self: center;
}
.menu-item__button {
  grid-area: itemValid;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1.4em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 800ms cubic-bezier(0.2, 1, 0.9, 1);
}
.menu-item:hover > .menu-item__price {
  transform: translateX(0);
}
.menu-item:hover > .menu-item__button {
  transform: scaleX(1);
}
.menu-item:hover > .menu-item__button .fa-check-circle {
  transform: rotate(0turn);
}
.menu-item .fa-check-circle {
  padding: 20px;
  transform: rotate(1turn);
  transition: transform 300ms 500ms ease-in-out;
}

.command {
  padding: 20px;
  text-align: center;
}
.header {
  display: grid;
  grid-template-areas: "headerArrow headerLogo";
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.header__title {
  grid-area: headerLogo;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
}
.header a {
  color: black;
}
.header__arrow {
  grid-area: headerArrow;
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

.cards {
  grid-area: cards;
  background-color: #fafafa;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: -webkit-min-content repeat(2, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
}
@media screen and (min-width: 600px) {
  .cards h2 {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 992px) {
  .cards h2 {
    grid-column: 1/span 4;
  }
}

.menu {
  background-color: #fafafa;
  justify-items: center;
  grid-template-areas: "menuHeading" "menuAppetizer" "menuMainDish" "menuDessert" "menuCommand";
}
@media screen and (min-width: 768px) {
  .menu {
    grid-template-areas: "menuHeading menuHeading" "menuAppetizer menuMainDish" "menuDessert menuDessert" "menuCommand menuCommand";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .menu {
    grid-template-areas: "menuHeading menuHeading menuHeading" "menuAppetizer menuMainDish menuDessert" ". menuCommand .";
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu__heading {
  grid-area: menuHeading;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.menu__heading--menu1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.menu__heading--menu2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.menu__heading--menu3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.menu__heading--menu4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.menu__title {
  background-color: #fafafa;
  border-radius: 1.8em 1.8em 0 0;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand";
}
.menu__heart {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.menu__heart--regular {
  color: #b3b3b3;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.menu__heart--solid {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 3px;
  height: 100%;
  width: 100%;
  color: #FF79DA;
  opacity: 0;
  transform: scale(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}
.menu__heart:hover > .menu__heart--solid {
  opacity: 1;
  transform: scale(1);
}
.menu__heart:hover > .menu__heart--regular {
  opacity: 0;
}
.menu__appetizer, .menu__main-dish, .menu__dessert {
  padding: 0 20px;
}
.menu__appetizer h3, .menu__main-dish h3, .menu__dessert h3 {
  position: relative;
  padding-bottom: 7px;
}
.menu__appetizer h3::after, .menu__main-dish h3::after, .menu__dessert h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu__appetizer {
  grid-area: menuAppetizer;
}
.menu__main-dish {
  grid-area: menuMainDish;
}
.menu__dessert {
  grid-area: menuDessert;
}
.menu__command {
  grid-area: menuCommand;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 20px;
}
.footer ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.footer ul li {
  list-style: none;
  padding: 2px;
}
.footer ul li .fas {
  width: 20px;
}
.footer__logo {
  display: inline-block;
  -webkit-mask: url("../images/logo/ohmyfood@2x.svg") no-repeat;
          mask: url("../images/logo/ohmyfood@2x.svg") no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  background-color: white;
  width: 98px;
  height: 17px;
  margin: 10px;
}
.footer__contact {
  text-decoration: none;
  color: white;
}

.main-index {
  grid-template-areas: "location" "overview" "function" "cards";
}

.location {
  grid-area: location;
  text-align: center;
  background-color: #ebebeb;
  padding: 0 20px;
}

.overview {
  grid-area: overview;
  background-color: #fafafa;
  padding: 20px;
  text-align: center;
}
.function {
  grid-area: function;
  padding: 20px;
}
.function ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .function ul {
    flex-direction: row;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */