.overview__button, .command__button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.5rem;
  padding: 12px 20px;
  margin: 20px;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
  transition: all 200ms;
}
.overview__button:hover, .command__button:hover {
  transform: scale(1.04);
  background-image: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 0 0.6em 0.6em 0 #d9d9d9;
}
.overview__button:active, .command__button:active {
  transform: scale(1);
}

@-webkit-keyframes menu-loader-vertical {
  0% {
    transform: translateY(-200px);
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-loader-vertical {
  0% {
    transform: translateY(-200px);
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu-loader-horizontal {
  0% {
    transform: translateX(-200px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu-loader-horizontal {
  0% {
    transform: translateX(-200px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes loader-background {
  from {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader-background {
  from {
    opacity: 1;
    z-index: 10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes loader-items {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0.8em);
  }
  30% {
    transform: translateY(-0.6em);
  }
  45% {
    transform: translateY(0.4em);
  }
  60% {
    transform: translateY(-0.3em);
  }
  70% {
    transform: translateY(0.2em);
  }
  80% {
    transform: translateY(-0.1em);
  }
  85% {
    transform: translateY(0.05em);
  }
  90% {
    transform: translateY(-0.01em);
  }
  94% {
    transform: translateY(0.004em);
  }
  98% {
    transform: translateY(-0.001em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader-items {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0.8em);
  }
  30% {
    transform: translateY(-0.6em);
  }
  45% {
    transform: translateY(0.4em);
  }
  60% {
    transform: translateY(-0.3em);
  }
  70% {
    transform: translateY(0.2em);
  }
  80% {
    transform: translateY(-0.1em);
  }
  85% {
    transform: translateY(0.05em);
  }
  90% {
    transform: translateY(-0.01em);
  }
  94% {
    transform: translateY(0.004em);
  }
  98% {
    transform: translateY(-0.001em);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes loader-title {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  40% {
    transform: translateY(20px);
    opacity: 1;
  }
  55% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader-title {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  40% {
    transform: translateY(20px);
    opacity: 1;
  }
  55% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-branch-1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes spinner-branch-1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@-webkit-keyframes spinner-branch-2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes spinner-branch-2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@-webkit-keyframes spinner-branch-3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@keyframes spinner-branch-3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(".././fonts/Shrikhand/Shrikhand-Regular.eot");
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"), url(".././fonts/Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url(".././fonts/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url(".././fonts/Shrikhand/Shrikhand-Regular.woff") format("woff"), url(".././fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(".././fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url(".././fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url(".././fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url(".././fonts/Roboto/Roboto-Bold.woff") format("woff"), url(".././fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url(".././fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url(".././fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url(".././fonts/Roboto/Roboto-Regular.woff") format("woff"), url(".././fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././fonts/Roboto/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url(".././fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url(".././fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url(".././fonts/Roboto/Roboto-Thin.woff") format("woff"), url(".././fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././fonts/Roboto/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url(".././fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url(".././fonts/Roboto/Roboto-Light.woff2") format("woff2"), url(".././fonts/Roboto/Roboto-Light.woff") format("woff"), url(".././fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".././fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url(".././fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url(".././fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url(".././fonts/Roboto/Roboto-Medium.woff") format("woff"), url(".././fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9rem;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: loader-background 500ms 5000ms both;
          animation: loader-background 500ms 5000ms both;
  background-color: #fafafa;
  /* .spinner {
      border: .3em solid transparent;
      border-top: .3em solid;
      border-right: .3em solid;
      border-radius: 100%;
      animation: loader-spinner linear infinite;
      display: flex;
      justify-content: center;

      &__ext {
          animation-duration: 3s;
          border-top-color: $color-primary;
          border-right-color: $color-primary;
          height: 3em;
          width: 3em;
      }

      &__mid {
          animation-duration: 5s;
          border-top-color: $color-secondary;
          border-right-color: $color-secondary;
          height: 2.4em;
          width: 2.4em;
      }

      &__int {
          animation-duration: 5s;
          border-top-color: $color-tertiary;
          border-right-color: $color-tertiary;
          height: 1.8em;
          width: 1.8em;
      }
  } */
}
.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.loader__title {
  font-size: 3em;
  -webkit-animation: loader-title 2000ms ease-in-out both;
          animation: loader-title 2000ms ease-in-out both;
  font-family: "Shrikhand", cursive;
  color: gray;
  /* &--1 {
     color: $color-primary;
  } */
}
.loader__title--2 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loader__title--3 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.loader__items {
  display: flex;
  justify-content: space-between;
  width: 4em;
  padding-left: 7px;
  margin-top: 10px;
}
.loader__item {
  height: 0.8em;
  width: 0.8em;
  border-radius: 0.8em;
  -webkit-animation: loader-items 2500ms 1250ms linear both;
          animation: loader-items 2500ms 1250ms linear both;
  border-style: solid;
  border-width: 2px;
}
.loader__item--1 {
  border-color: #9356DC;
}
.loader__item--2 {
  border-color: #FF79DA;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.loader__item--3 {
  border-color: #99E2D0;
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
.loader__spinner {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
}
.loader__spinner .spinner {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader__spinner .spinner:nth-child(1) {
  -webkit-animation: spinner-branch-1 1.15s linear infinite;
          animation: spinner-branch-1 1.15s linear infinite;
}
.loader__spinner .spinner:nth-child(2) {
  -webkit-animation: spinner-branch-2 1.15s linear infinite;
          animation: spinner-branch-2 1.15s linear infinite;
}
.loader__spinner .spinner:nth-child(3) {
  -webkit-animation: spinner-branch-3 1.15s linear infinite;
          animation: spinner-branch-3 1.15s linear infinite;
}
.loader__spinner .spinner:nth-child(1) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  border-bottom: 3px solid #9356DC;
}
.loader__spinner .spinner:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  border-bottom: 3px solid #FF79DA;
}
.loader__spinner .spinner:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  border-bottom: 3px solid #99E2D0;
}

.function-item {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #fafafa;
  margin: 20px 10px;
  padding: 20px;
  padding-left: 0;
  border-radius: 1.4em;
  display: grid;
  grid-template-columns: 35px 35px 1fr;
  justify-items: start;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.function-item:hover {
  background-color: #f2eafb;
}
.function-item:hover .function-item__icon {
  color: #9356DC;
}
.function-item__label {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 2px 7px;
  position: relative;
  right: 10px;
}
.function-item__icon {
  color: gray;
}

.card {
  margin: 0;
  background-color: white;
  border-radius: 0.7em;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.card__link {
  text-decoration: none;
  color: black;
}
.card__body {
  position: relative;
}
.card__img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}
.card__badge-new {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 0.2em;
  padding: 7px 12px;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}
.card__caption {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "captionTitle captionFav" "captionTxt captionFav";
  justify-items: stretch;
  align-items: center;
  padding: 12px;
}
.card__caption h3 {
  grid-area: captionTitle;
  margin: 0;
  font-weight: 500;
}
.card__caption p {
  grid-area: captionTxt;
  margin: 0;
  font-weight: 300;
}
.card__heart {
  grid-area: captionFav;
  width: 20px;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}
.card__heart--regular {
  color: black;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.card__heart--solid {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 1px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}
.card__heart:hover > .card__heart--solid {
  opacity: 1;
  transform: scale(1);
}
.card__heart:hover > .card__heart--regular {
  opacity: 0;
}

.menu-item {
  background-color: white;
  border-radius: 0.8em;
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
  width: 280px;
}
@media screen and (min-width: 600px) {
  .menu-item {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .menu-item {
    width: 280px;
  }
}
@media screen and (min-width: 992px) {
  .menu-item {
    width: 340px;
  }
}
.menu-item__main {
  flex-grow: 1;
  display: grid;
  grid-template-areas: "itemTitle itemTitle" "itemDescription itemPrice";
  grid-template-columns: 1fr 60px;
}
.menu-item__title {
  grid-area: itemTitle;
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 12px;
  padding-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__description {
  grid-area: itemDescription;
  margin: 0;
  padding-left: 12px;
  padding-bottom: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item__price {
  grid-area: itemPrice;
  margin: 0;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 7px;
  align-self: center;
  font-weight: 500;
}
.menu-item__button {
  width: 0%;
  transition: all 800ms;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-content: center;
}
.menu-item:hover > .menu-item__button {
  width: 20%;
}
.menu-item:hover > .menu-item__button .fa-check-circle {
  opacity: 1;
  transform: rotate(0deg);
}
.menu-item .fa-check-circle {
  transform: rotate(-540deg);
  opacity: 0;
  transition: all 800ms cubic-bezier(0.2, 1, 0.9, 1);
  align-self: center;
}

.command {
  padding: 20px;
  text-align: center;
}
.header {
  display: grid;
  grid-template-areas: "headerArrow headerLogo";
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0.5em 0.5em 0 #d9d9d9;
}
.header__title {
  font-family: "Shrikhand", cursive;
  grid-area: headerLogo;
  margin: 0;
  padding: 20px 0;
}
.header a {
  color: black;
}
.header__arrow {
  grid-area: headerArrow;
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

.cards {
  grid-area: cards;
  background-color: #fafafa;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: -webkit-min-content repeat(2, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
}
@media screen and (min-width: 600px) {
  .cards h2 {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 992px) {
  .cards h2 {
    grid-column: 1/span 4;
  }
}

.menu {
  background-color: #fafafa;
  justify-items: center;
  grid-template-areas: "menuHeading" "menuAppetizer" "menuMainDish" "menuDessert" "menuCommand";
}
@media screen and (min-width: 768px) {
  .menu {
    grid-template-areas: "menuHeading menuHeading" "menuAppetizer menuMainDish" "menuDessert menuDessert" "menuCommand menuCommand";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    grid-template-areas: "menuHeading menuHeading menuHeading" "menuAppetizer menuMainDish menuDessert" ". menuCommand .";
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu__heading {
  grid-area: menuHeading;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .menu__heading {
    height: 300px;
  }
}
.menu__heading--laPaletteDuGout {
  background-image: url("../images/restaurants/3_medium/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.menu__heading--laNoteEnchantee {
  background-image: url("../images/restaurants/3_medium/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.menu__heading--aLaFrancaise {
  background-image: url("../images/restaurants/3_medium/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.menu__heading--leDeliceDesSens {
  background-image: url("../images/restaurants/3_medium/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.menu__title {
  background-color: #fafafa;
  border-radius: 1.8em 1.8em 0 0;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
}
.menu__heart {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.menu__heart--regular {
  color: black;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.menu__heart--solid {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 3px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}
.menu__heart:hover > .menu__heart--solid {
  opacity: 1;
  transform: scale(1);
}
.menu__heart:hover > .menu__heart--regular {
  opacity: 0;
}
.menu__appetizer, .menu__main-dish, .menu__dessert {
  transform-origin: top;
  -webkit-animation: menu-loader-horizontal 1500ms ease-in-out forwards;
          animation: menu-loader-horizontal 1500ms ease-in-out forwards;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .menu__appetizer, .menu__main-dish, .menu__dessert {
    -webkit-animation-name: menu-loader-vertical;
            animation-name: menu-loader-vertical;
  }
}
.menu__appetizer h3, .menu__main-dish h3, .menu__dessert h3 {
  position: relative;
  padding-bottom: 7px;
  font-weight: 300;
}
.menu__appetizer h3::after, .menu__main-dish h3::after, .menu__dessert h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu__appetizer article, .menu__main-dish article, .menu__dessert article {
  transform-origin: top;
  -webkit-animation: menu-loader-vertical 1500ms ease-in-out forwards;
          animation: menu-loader-vertical 1500ms ease-in-out forwards;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .menu__appetizer article, .menu__main-dish article, .menu__dessert article {
    -webkit-animation-name: menu-loader-horizontal;
            animation-name: menu-loader-horizontal;
  }
}
.menu__appetizer {
  grid-area: menuAppetizer;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.menu__appetizer article:nth-of-type(1) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu__appetizer article:nth-of-type(2) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu__appetizer article:nth-of-type(3) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu__appetizer article:nth-of-type(4) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.menu__main-dish {
  grid-area: menuMainDish;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu__main-dish article:nth-of-type(1) {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
.menu__main-dish article:nth-of-type(2) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu__main-dish article:nth-of-type(3) {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.menu__main-dish article:nth-of-type(4) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
.menu__dessert {
  grid-area: menuDessert;
  -webkit-animation-delay: 2750ms;
          animation-delay: 2750ms;
}
.menu__dessert article:nth-of-type(1) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.menu__dessert article:nth-of-type(2) {
  -webkit-animation-delay: 3250ms;
          animation-delay: 3250ms;
}
.menu__dessert article:nth-of-type(3) {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}
.menu__dessert article:nth-of-type(4) {
  -webkit-animation-delay: 3750ms;
          animation-delay: 3750ms;
}
.menu__command {
  grid-area: menuCommand;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 20px;
}
.footer ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.footer ul li {
  list-style: none;
  padding: 2px;
  font-weight: 500;
}
.footer ul li .fas {
  width: 20px;
}
.footer__logo {
  display: inline-block;
  -webkit-mask-image: url("../images/logo/ohmyfood@2x.svg");
          mask-image: url("../images/logo/ohmyfood@2x.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: white;
  width: 98px;
  height: 17px;
  margin: 10px;
}
.footer__contact {
  text-decoration: none;
  color: white;
}

.main-index {
  grid-template-areas: "location" "overview" "function" "cards";
}

.location {
  grid-area: location;
  text-align: center;
  background-color: #ebebeb;
  padding: 0 20px;
}

.overview {
  grid-area: overview;
  background-color: #fafafa;
  padding: 20px;
  text-align: center;
}
.overview__title {
  font-weight: bold;
}
.overview__txt {
  font-weight: 300;
  font-size: 1.2em;
}
.function {
  grid-area: function;
  padding: 20px;
}
.function ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .function ul {
    flex-direction: row;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */