.card {
    margin: map-get($margin, large) map-get($margin, none);
    background-color: $bg-color-primary;
    border-radius: .7em;
    @include box-shadow;
    &__body {
        position: relative;
        display: block;
    }
    &__img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: .5em .5em 0 0;
    }
    &__badge-new {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 35%);
        border-radius: .2em;
        padding: map-get($padding, small) map-get($padding, medium);
        font-size: .8em;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__caption {
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-areas: 
        "captionTitle captionFav"
        "captionTxt captionFav";
        justify-items: stretch;
        align-items: center;
        padding: map-get($padding, medium);
    }
    &__caption h3 {
        grid-area: captionTitle;
        margin: map-get($margin, none);
    }
    &__caption p {
        grid-area: captionTxt;
        margin: map-get($margin, none);
    }
    &__heart {
        grid-area: captionFav;
        cursor: pointer;
        position: relative;
        width: 20px;
        font-size: 1.4em;


        &--regular {
            color: darken($bg-color-primary, 30%);
            opacity: 1;
            transition: opacity 500ms ease-in-out;
        }
        &--solid {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            // background-image: linear-gradient(to bottom right, $color-secondary, $color-primary );
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            color: $color-secondary;
            opacity: 0;
            transform: scale(0);
            transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
        }
        &:hover > .card__heart--solid {
            opacity: 1;
            transform: scale(1);
        }

        &:hover > .card__heart--regular {
            opacity: 0;
        }
    }
}