.card {
    margin: map-get($margin, none);
    background-color: $bg-color-primary;
    border-radius: .7em;
    @include box-shadow;

    &__link {
        text-decoration: none;
        color: darken($bg-color-primary, 100%);
    }

    &__body {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: .5em .5em 0 0;
    }

    &__badge-new {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 35%);
        border-radius: .2em;
        padding: map-get($padding, small) map-get($padding, medium);
        font-size: .8em;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__caption {
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-areas: 
        "captionTitle captionFav"
        "captionTxt captionFav";
        justify-items: stretch;
        align-items: center;
        padding: map-get($padding, medium);
    }

    &__caption h3 {
        grid-area: captionTitle;
        margin: map-get($margin, none);
        font-family: map-get($font-family, medium);
    }

    &__caption p {
        grid-area: captionTxt;
        margin: map-get($margin, none);
        font-family: map-get($font-family, light);
    }

    &__heart {
        grid-area: captionFav;
        width: 20px;
        font-size: 1.4em;
        @include heart-icon(1px);
    }
}