.menu-item {
    background-color: $bg-color-primary;
    border-radius: .8em;
    margin: map-get($margin, large) map-get($margin, none);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    @include box-shadow;

    width: 280px;
    @include for-large-mobile {
        width: 340px;
    }
    @include for-tablet {
        width: 280px;
    }
    @include for-desktop {
        width: 340px;
    }

    &__main {
        flex-grow: 1;
        display: grid;
        grid-template-areas: 
        "itemTitle itemTitle"
        "itemDescription itemPrice";
        grid-template-columns: 1fr 60px;
    }

    &__title {
        grid-area: itemTitle;
        margin: 0;
        font-weight: bold;
        font-size: 1.1em;
        padding-top: map-get($padding, medium);
        padding-left: map-get($padding, medium);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__description {
        grid-area: itemDescription;
        margin: 0;
        padding-left: map-get($padding, medium);
        padding-bottom: map-get($padding, medium);
        font-weight: map-get($font-weight, light);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__price {
        grid-area: itemPrice;
        margin: map-get($margin, none);
        padding-bottom: map-get($padding, medium);
        padding-right: map-get($padding, medium );
        padding-left: map-get($padding, small);
        align-self: center;
        font-weight: map-get($font-weight, medium);
    }

    &__button {
        width: 0%;
        transition: all 800ms;
        background-color: $color-tertiary;
        color: $bg-color-primary;
        border-radius: 0 .5em .5em 0;
        font-size: 1.4em;
        //transform-origin: right;
        //transform: scaleX(0);
        //transition: transform 800ms cubic-bezier(.2,1,.9,1);
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &:hover > .menu-item__button {
        //transform: scaleX(1);
        width: 20%;
        .fa-check-circle {
            @include check-button-hover($check-button);
        }
    }

    .fa-check-circle {
        //padding: map-get($padding, large);
        @include check-button($check-button);
        align-self: center;
    }
}