.footer {
    background-color: darken($bg-color-primary, 80%);
    color: $bg-color-primary;
    padding: map-get($padding, large);
    ul {
        margin: map-get($margin, none);
        display: flex;
        flex-direction: column;
        padding-left: 0;

        @include for-tablet {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        li {
            list-style: none;
            padding: map-get($padding, xsmall);
            
            .fas {
                width: 20px;
            }
        }
    }
    &__logo {
        display: inline-block;
        mask-image: url($logo);
        mask-size: 100%;
        mask-repeat: no-repeat;
        background-color: $bg-color-primary;
        width: 98px;
        height: 17px;
        margin: map-get($margin, medium);
        // font-family: $font-secondary;
    }
    &__contact {
        text-decoration: none;
        color: $bg-color-primary;
    }
}