.menu {
    background-color: $bg-color-secondary;
    justify-items: center;
    grid-template-areas: 
    "menuHeading"
    "menuAppetizer"
    "menuMainDish"
    "menuDessert"
    "menuCommand";

    @include for-tablet{
        grid-template-areas: 
        "menuHeading menuHeading"
        "menuAppetizer menuMainDish"
        "menuDessert menuDessert"
        "menuCommand menuCommand";
        grid-template-columns: repeat(2, 1fr);
    }

    @include for-large-desktop {
        grid-template-areas: 
        "menuHeading menuHeading menuHeading"
        "menuAppetizer menuMainDish menuDessert"
        ". menuCommand .";
        grid-template-columns: repeat(3, 1fr);
    }

    &__heading {
        grid-area: menuHeading;
        background-size: cover;
        height: 200px;
        @include for-tablet {
            height: 300px;
        }
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        @include header-img($menu-bg-img);
    }
    &__title {
        background-color: $bg-color-secondary;
        border-radius: 1.8em 1.8em 0 0;
        padding: map-get($padding, large) map-get($padding, none );
        margin: map-get($margin, none);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $font-secondary;
    }

    &__heart {
        display: inline-block;
        @include heart-icon(3px);
    }
    
    &__appetizer, &__main-dish, &__dessert {
        transform-origin: top;
        animation: menu-loader-horizontal $menu-loader-duration ease-in-out forwards;
        opacity: 0;

        @include for-tablet {
            animation-name: menu-loader-vertical;
        }

        h3{
            position: relative;
            padding-bottom: map-get($padding, small );
            font-weight: map-get($font-weight, light);

            &::after {
            content: "";
            width: 50px;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            bottom: 0;
            left: 0;
            }
        }

        article {
            transform-origin: top;
            animation: menu-loader-vertical $menu-loader-duration ease-in-out forwards;
            opacity: 0;

            @include for-tablet {
                animation-name: menu-loader-horizontal;
            }
        }
    }

    &__appetizer {
        grid-area: menuAppetizer;
        animation-delay: $menu-loader-delay;

        article {
            @include menu-item-delay($menu-loader-delay);
        }
    }

    &__main-dish {
        grid-area: menuMainDish;
        animation-delay: $menu-loader-duration;

        article {
            @include menu-item-delay($menu-loader-duration);
        }
    }

    &__dessert {
        grid-area: menuDessert;
        animation-delay: ($menu-loader-duration*2 - $menu-loader-delay);

        article {
            @include menu-item-delay($menu-loader-duration*2 - $menu-loader-delay);
        }
    }

    &__command {
        grid-area: menuCommand;
    }
}