@mixin box-shadow($color: $shadow-color, $size: $shadow-size) {
    box-shadow: 0 $size $size 0 $color;
}

@mixin header-img($menus) {
    @each $menu, $img in $menus {
        &--#{$menu} {
            background-image: url($img);
        }
    }
}

@mixin for-large-mobile {
    @media screen and (min-width: map-get($breakpoints, large-mobile)) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin for-large-desktop {
    @media screen and (min-width: map-get($breakpoints, large-desktop)) {
        @content;
    }
}

@mixin check-button($version) {
    @if ($version == "delay") {
        transform: rotate(1turn);
        transition: transform 300ms 500ms ease-in-out;
    }
    @if ($version == "nodelay") {
        transform: rotate(-540deg);
        opacity: 0;
        transition: all 800ms cubic-bezier(.2,1,.9,1);
    }
}

@mixin check-button-hover($version) {
    @if ($version == "delay") {
        transform: rotate(0turn);
    }
    @if ($version == "nodelay") {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@mixin menu-item-delay($menuDelay) {
    @for $item from 1 to 5 {
        &:nth-of-type(#{$item}) {
            animation-delay: $menuDelay + ($menu-loader-item-delay * $item);
        }
    }
}

@mixin heart-icon-color($color) {
    @if ($color == "gradient") {
        background: linear-gradient(to bottom right, $color-secondary, $color-primary );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } @else {
        color: $color-secondary;
    }
}

@mixin heart-icon($top: 0) {
    cursor: pointer;
    position: relative;
    &--regular {
        color: darken($bg-color-primary, 100%);
        opacity: 1;
        transition: opacity 500ms ease-in-out;
    }
    &--solid {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: $top;
        height: 100%;
        width: 100%;
        @include heart-icon-color($heart-color);
        opacity: 0;
        transform: scale(0);
        transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
    }
    &:hover > &--solid {
        opacity: 1;
        transform: scale(1);
    }

    &:hover > &--regular {
        opacity: 0;
    }
}