@mixin box-shadow($color: $shadow-color, $size: $shadow-size) {
    box-shadow: 0 $size $size 0 $color;
}

@mixin header-img($menus) {
    @each $menu, $img in $menus {
        &--#{$menu} {
            background-image: url($img);
        }
    }
}

@mixin for-large-mobile {
    @media screen and (min-width: map-get($breakpoints, large-mobile)) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin for-large-desktop {
    @media screen and (min-width: map-get($breakpoints, large-desktop)) {
        @content;
    }
}

@mixin check-button($version) {
    @if ($version == "delay") {
        transform: rotate(1turn);
        transition: transform 300ms 500ms ease-in-out;
    }
    @if ($version == "nodelay") {
        transform: translateX(60px) rotate(180deg);
        transition: transform 800ms cubic-bezier(.2,1,.9,1);
    }
}

@mixin check-button-hover($version) {
    @if ($version == "delay") {
        transform: rotate(0turn);
    }
    @if ($version == "nodelay") {
        transform: translateX(0) rotate(0deg);
    }
}