$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color-primary: white;
$bg-color-secondary: darken($bg-color-primary, 2%);
$bg-color-tertiary: darken($bg-color-primary, 8%);

$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;

$font-weight: (
    black: 900,
    medium: 500,
    light: 300,
    thin: 100
);

$shadow-color: darken($bg-color-primary, 15%);
$shadow-size: .5em;

$padding: (none:0, xsmall: 2px, small:7px, medium:12px, large:20px);
$margin: (none:0, medium: 10px, large:20px);

$menu-bg-img: (
laPaletteDuGout: "../images/restaurants/3_medium/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
laNoteEnchantee: "../images/restaurants/3_medium/stil-u2Lp8tXIcjw-unsplash.jpg",
aLaFrancaise: "../images/restaurants/3_medium/toa-heftiba-DQKerTsQwi0-unsplash.jpg",
leDeliceDesSens: "../images/restaurants/3_medium/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
);

$logo: "../images/logo/ohmyfood@2x.svg";

$breakpoints: (
    large-mobile: 600px,
    tablet: 768px,
    desktop: 992px,
    large-desktop: 1200px
);

$check-button: "nodelay"; 
// delay/nodelay
$heart-color: "gradient";
// gradient/""

$menu-loader-duration: 1500ms;
$menu-loader-delay: 250ms;
$menu-loader-translate: 200px;
$menu-loader-item-delay: 250ms;